# action recognition sample
numpy
imutils
opencv-python
opencv-contrib-python
matplotlib

# action recognition alternate
albumentations

torch==1.7.1+cu110
torchvision==0.8.2+cu110

# face recognition sample
cmake
face-recognition

# face recognition alternate
pandas
facenet-pytorch
mmcv